{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 160,
  "tabWidth": 2,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^react(-native)?$", "^(?:@[a-z]|[a-z])",  "^[@/]", "^[./]"]
}
